.btn {
  padding: 12px 56px;
  display: inline-block;

  border-radius: 8px;
  background-color: #141718;

  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.4px;

  transition: opacity 0.2s ease-in-out;

  @include mobile {
    font-size: 16px;
  }

  &--small {
    padding: 9px 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: -0.4px;

    @include mobile {
      padding: 6px 40px;
      font-size: 14px;
    }
  }

  &--wide {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  &:hover {
    opacity: 0.9;
  }
}
