.nav {
  padding: 16px 0;
  background-color: #ffc95c;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__btn-mobile-nav {
    display: none;

    @include mobile {
      display: flex;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 500;
    font-family: var(--font-nav);
    font-size: 14px;
    line-height: 171%;

    a {
      color: #141718;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 5px;

    &-count {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #141718;

      font-size: 12px;
      font-weight: 700;
      color: var(--yellow);

      &--white {
        color: #fff;
      }
    }
  }
}

@include mobile {
  .nav__list,
  .nav__btn--search,
  .nav__btn--user {
    display: none;
  }
}
