.tagline {
  position: relative;
  padding: 8px 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: var(--font-main);

  background-color: #141718;
  color: #fff;

  &__desc {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #fff;

    @include mobile {
      font-size: 12px;
    }
  }

  &__link {
    width: 91px;
    height: 24px;
    border-bottom: 1px solid var(--yellow);

    display: inline-flex;
    align-items: center;
    gap: 4px;

    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--yellow);

    @include mobile {
      display: none;
    }

    &--overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 9;

    svg {
      fill: #343839;
      transition: all 0.2s ease-in;
    }

    @include mobile {
      svg {
        fill: #fff;
      }
    }

    &:hover {
      svg {
        fill: #fff;
      }
    }
  }
}
